BODY {color:black; background-color:}

TABLE {background-color:}

TH {background-color:#A9BCF5; color:#A9BCF5}
TH.h1 {background-color:#A9BCF5; color:#A9BCF5}
TH.h2 {background-color:#A9BCF5; color:#A9BCF5}

TD {background-color:; color:darkblue}
TD.h1 {background-color:; color:}

HR {color:}